body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 75px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    padding-left: 50px;
    text-align: left;
}

nav * {
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    grid-column: span 2;
    display: table;
}